
html
 {
     margin: 0;
     padding: 0;
     width: auto;
 }

body
{
    margin: 10%;
    padding: 0;
    width: auto;
    background-color: #cafd9d;
    font-family: "Calibri", sans-serif ;
    color: black;
    font-size: large;
}

.heading
{
    border: #b38bcc solid 3px;
    border-radius: 3em;
    font-family: 'Lobster', cursive;
    margin: auto;
    left: 0;
    right: 0;
    padding: 2%;
    position: relative;
    max-width: 1000px;
    min-width: 350px;

}

#nom
{
    font-size: xx-large;
    position: relative;
    text-align: left;
    top: 20%;
    margin-right: auto;
    padding-left: 2%;
    display: inline-block;
    width: 37%;
    vertical-align: middle;

}

#logo
{
    position: relative;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    max-width: 33%;
    display: inline-block;
    vertical-align: middle;
    width: 33%;


}

#adresse
{
    position: relative;
    margin-right: auto;
    padding-left: 2%;
    margin-left: auto;
    font-size: large;
    display: inline-block;
    width: 25%;
    text-align: right;
    vertical-align: middle;


}

#fonction
{
    position: relative;
    margin-right: auto;
    margin-left: 37%;
    font-size: xx-large;
    font-family: "Calibri", sans-serif;
    width: 50%;
    color: #45afff;
}

.contenu
{
    padding: 4%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: #b38bcc solid 3px;
    border-radius: 3em;
    font-family: "Calibri", sans-serif;
    left: 0;
    right: 0;
    position: relative;
    max-width: 1000px;
    min-width: 350px;
}

h1
{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: #ff381a;
    font-size: x-large;
}

h2
{
    text-decoration: underline;
    color: #45afff;
    margin-left: 9%;
}

ul
{
    list-style: none inside;
    padding-right: 2%;
    margin-left: 5%;
}

.gras
{
    font-weight: bold;
}

.puces
{
    list-style-type: disc;
    margin-left: 5%;

}

.liens
{
    border: #b38bcc solid 3px;
    border-radius: 3em;
    font-family: "Calibri", sans-serif;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: relative;
    max-width: 1000px;
    min-width: 350px;

}

#position1
{
    display: inline-block;
    position: relative;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 2%;
    width: 30%;
    vertical-align: middle;
}

#position2
{
    display: inline-block;
    position: relative;
    margin-left: 2%;
    width: 30%;
    vertical-align: middle;
}

#position3
{
    display: inline-block;
    position: relative;
    margin-top: 3%;
    margin-left: 11%;
    width: 18%;
    vertical-align: middle;

}
